@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DynaPuff', cursive;
}
.main{
    background-color: #a25273;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    align-items: center;
}
h1{
    margin: 2rem 0;
    color: #fff;
    font-size: 3rem;
}
.counter-card{
    background-color: #dc5bb1;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

}
.counter-card > p{
    font-size: 4rem;
    color: #fff;
}
.btn-container{
    margin: 1rem 0;
}
.btn-container > button{
    padding: 12px 24px;
    border-radius: 12px;
    margin: 0 10px;
    font-family: 'DynaPuff', cursive;
    background-color: #dc5bb1;
    border:0;
    cursor: pointer;
    color: #fff;
    border: 2px solid #dc5bb1;
    transition: all 0.3s ease;
}
.btn-container > button:hover{
    background-color: transparent;
    border: 2px solid #dc5bb1;
    color: #dc5bb1;

}
@media (max-width: 380px) {
    .btn-container > button{
        margin: 0 4px;
    }
}